<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bulbul.onlinefileuploader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UpMainActivity" />
        <activity android:name=".ViewUploadActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".AdminSelectDepartment" />
        <activity android:name=".AdminUploadDept" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AdminDepartmentSubject.CSEDepartment" />
        <activity android:name=".AdminDepartmentSubject.BBADepartment" />
        <activity android:name=".UserDepartmentSubject.UserCSEDepartment" />
        <activity android:name=".AdminDepartmentSubject.ICTDepartment" />
        <activity android:name=".AdminDepartmentSubject.EEEDepartment" />
        <activity android:name=".AdminDepartmentSubject.ITEDepartment" />
        <activity android:name=".AdminDepartmentSubject.ECEDepartment" />
        <activity android:name=".AdminDepartmentSubject.ECONOMICSDepartment" />
        <activity android:name=".UserDepartmentSubject.UserIctDepartment" />
        <activity android:name=".UserDepartmentSubject.UserEeeDepartment" />
        <activity android:name=".UserDepartmentSubject.UserITEDepartment" />
        <activity android:name=".UserDepartmentSubject.UserECEDepartment" />
        <activity android:name=".UserDepartmentSubject.UserBBADepartment" />
        <activity android:name=".UserDepartmentSubject.UserEconomicsDepartment" />
        <activity android:name=".UserSelectedDepartment"></activity>
    </application>

</manifest>